/* RESET */
html {
  font-size: 62.5%;
}

body {
  font: 1.6rem "Raleway", sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 120rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

button {
  cursor: pointer;
}

input,
button {
  font-size: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
}

input,
textarea {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--dark-color);
}

strong {
  color: var(--dark-color);
}

section {
  margin: 1rem 1rem 2rem 1rem;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

:root {
  /* COLORS */
  --primary-color: #aa1409;
  --background-color: #f1f1f1;
  --dark-color: black;
  --grey-color: #616161;
  --light-color: white;

  background-color: var(--background-color);
  color: var(--grey-color);
}

/* MATERIAL ICONS */
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--dark-color);
}

.material-light-color {
  color: var(--light-color);
}

.material-primary-color {
  color: var(--primary-color);
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

figcaption:hover {
  opacity: 1;
}

.button {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 1rem;
  margin: 0 0 0 0;
  font-weight: bold;
  border: none;
}

.button2 {
  background-color: transparent;
  color: var(--dark-color);
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid 1px var(--grey-color);
}

.btn-black {
  background-color: var(--dark-color);
}

header {
  margin-bottom: 2rem;
  border-bottom: solid 1px var(--grey-color);
}

#h1 {
  display: flex;
  align-items: center;
}

.header-background {
  display: none;
}

#section1 li {
  margin-bottom: 1rem;
}

#section2 {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#section2 > form {
  display: flex;
  flex-direction: column;
}

#section2 h2 {
  color: var(--light-color);
  margin: 0;
}

#section3 {
  display: flex;
  flex-direction: column;
}

#section3 > div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

#section3 > div > span {
  margin-right: 1rem;
}

#section3 > form {
  display: flex;
  flex-direction: column;
}

#section3 input,
#section3 textarea,
#section3 button {
  box-sizing: border-box;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

footer > div {
  display: flex;
  margin: 20px 0;
}

footer img {
  width: 2rem;
  margin: 0 0.5rem;
}

/* RESPONSIVE */
@media screen and (min-width: 1024px) {
  .button {
    margin: auto auto auto 0;
    padding: 1rem 10rem;
  }

  .header-background {
    display: flex;
    background-image: url("../assets/images/london2.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .header-background h2 {
    grid-column: 1 / -1;
  }

  .header-background > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50rem;
  }

  .header-background > div > div {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header-background > div > div > span {
    margin-right: 1rem;
  }

  .header-background .active {
    background-color: var(--primary-color);
  }

  .header-background form {
    background-color: var(--background-color);
    padding: 1.5rem;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-background form button {
    grid-column: 1 / -1;
    margin: 0;
  }

  .header-background form > div {
    display: flex;
    flex-direction: column;
    margin: 01rem;
  }

  #section1 ul {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }

  #section1 li {
    margin-bottom: 0;
  }

  #section1 li:first-child {
    grid-row: 1 / span 2;
  }

  #section1 > article:nth-child(2) > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #section2 {
    margin: 0;
    padding: 1rem 2rem;
  }

  #section3 .button {
    width: auto;
  }
}
