:root {
  /* COLORS */
  --primary-color: #f44336;
  --background-color: #f1f1f1;
  --dark-color: black;
  --grey-color: #616161;
  --light-color: white;

  background-color: var(--background-color);
  color: var(--grey-color);

  font-family: "Raleway", sans-serif;
}

/* RESET */
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
}

input,
textarea {
  padding: 10px 5px;
  margin-bottom: 10px;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--dark-color);
}

strong {
  color: var(--dark-color);
}

section {
  margin: 10px 10px 20px 10px;
}

img {
  width: 100%;
}

.button {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px;
  margin: 0 0 0 0;
  font-weight: bold;
  border: none;
}

.button2 {
  background-color: transparent;
  color: var(--dark-color);
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px var(--grey-color);
}

.btn-black {
  background-color: var(--dark-color);
}

header {
  margin-bottom: 20px;
  border-bottom: solid 1px var(--grey-color);
}

.header-background {
  display: none;
}

#section1 li {
  margin-bottom: 10px;
}

#section2 {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#section2 h2 {
  color: var(--light-color);
  margin: 0;
}

#section3 {
  display: flex;
  flex-direction: column;
}

#section3 > div {
  margin-bottom: 10px;
}

#section3 input,
#section3 textarea,
button {
  box-sizing: border-box;
  width: 100%;
}

/* RESPONSIVE */
@media screen and (min-width: 426px) {
  .header-background {
    display: flex;
    background-image: url("../assets/london2.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
  }

  .header-background > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header-background > div:nth-child(4) {
    grid-column: 1 / -1;
  }
}
